:root {
    --secondary-color: #FFFCF2;
    --primary-color: #CCC5B9;
    --text-color: #252422;
    --accent-gray-color: #403D39;
    --accent-orange-color: #EB5E28;
    --accent-blue-color: #5AA9E6;
}