html {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--accent-gray-color);
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 100px;
    background-color: var(--accent-orange-color);
    background-clip: content-box;
}